@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;

}
:root{
    /* --bg-color: #000000c8; */
    --bg-color: black;
    --second-bg-color:rgb(250, 62, 65);
    /* --second-bg-color:rgb(250, 62, 65); */
    /* --second-bg-color: #160e10; */
    /* --text-color:#fff; */
    /* --text-color:rgb(250, 62, 65); */
    --text-color:white;
    --main-color:rgb(250, 62, 65);
    /* --main-color: #0ef; */
    /* --main-color: rgb(10, 202, 183); */
    /* --main-color:white; */
    




    /* #323946;#0b0710 */
}

 /* :root{
    /* --bg-color: #000000c8; */
    /* --bg-color: #fae122c8; */
    /* --second-bg-color: #131312; */
    /* --second-bg-color: #160e10; */
    /* --text-color:#fff; */
    /* --text-color:#121212; */
    /* --main-color: #0ef; */
    /* --main-color: rgb(10, 202, 183); */
    /* --main-color:white; */




    /* #323946;#0b0710 */

 html {
      font-size: 62.5%;
      overflow-x: hidden;

}

 body {
     background: var(--bg-color); 
    color:var(--text-color); 
    /* background-image: url("https://www.pexels.com/photo/man-in-black-jacket-771742/") */
  
    
} 

section{

    min-height: 80vh;
    padding: 15rem 9% 2rem;

 }
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


} 
.logo {
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 620;
   cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 4rem;
    transition: .4s;

}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}


#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;

}
.home {
    display: flex;
    justify-content:center;
    align-items: center;  
}

.portfolio-pic img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform:translateX(0) ;
    }
    50%{
        transform: translateX(-2.4rem);
    }
    100%{
        transform: translateX(0);
    }
}
.home-content{
  
    transition: all 1s ease-in;
    
}
.home-content:hover{
    transform: scale(1.1);
    
    
}
/* .portfolio-pic img {
   
    width: 15vw;
    max-height: 700px;
    
} */

.portfolio-pic img{
    margin-left: 30px;
    width: 25vw;
    height: 15vw;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: inline-block;
    box-shadow: 0 0 1rem var(--main-color);
}

.portfolio-pic img{
    transition: all 1s ease-in-out;
}



.portfolio-pic img:hover{
    /* /* border: .2rem solid var(--main-color);  */
   
    border: solid var(--main-color);
    transform: scale(1.1);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-content h3{
    font-size: 3.1rem;
    font-weight: 800;
    
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color:var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;

}
.social-media a :hover{
   
    color: white;
    
   
}


.btn {
    display: incline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn :hover{
    /* box-shadow: none; */
}

.about-me {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: 000000c9;
    margin-left: 10%;
    padding-top: 15%;
    
}

.about-content{
    position: relative;
    transition: .5s ease;
    background: 000000c8;
    z-index: 1;
    animation: myfirst 1s ;
    animation-direction: reverse; 
     
}
.about-content:hover{
    transform: scale(1.1);
}

/* .about-img img{
   
    margin-left: 1%;
    width: 16vw;
    
} */

.about-img img{

    margin-left: 30px;
    width: 300px;
height: 300px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: inline-block;
    box-shadow: 0 0 1rem var(--main-color);
}
.about-img img{
    transition:1s ease;
    
}
.about-img img:hover{
    border: solid var(--main-color);
    transform: scale(1.1);
    box-shadow: 0 0 1rem var(--main-color);
  
}



.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content{
    margin-left:5%;
}

.about-content h2{
   text-align: left;
   line-height: 1.2;
}

.about-content h3{
    font-size: 2.2rem;

 }

.about-content p{
    font-size: 1.8rem;
    margin: 3rem 0 ;
    
}



  @keyframes myfirst {
   
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
    
  }


  .services {
    margin-bottom: 1rem;
    padding-top: 12%;
  }
  .servive .heading{
    padding-top: 0%;
  }
  .service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-bottom: 30%;
  }

  .service-container .service-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 2rem 2rem 4rem ;
    border-radius: 2rem;
    text-align:center;
    border: .2rem solid var(--bg-color);
    height: 285px;
    transition: .5s ease;
    margin-left: 2%;
    margin-top: 5%;
  }
  .service-box i {
    font-size: 7rem;
    /* color: var(--main-color); */
    color:white
  }

.service-box h3{
    font-size: 2.6rem;
    color:white
}

  .service-box p{
    font-size: 1.2rem;
    margin: 3rem 0 ;
    color:white
  }
   
  .service-container .service-box:hover{
    border-color: white;
    transform: scale(1.1);
    transform: translateY(-40px);
    box-shadow: 0 0 1rem var(--main-color);
  
  }

.portfolio{
    /* background: var(--second-bg-color);  */
}
.portfolio h2{
    margin-bottom: 4rem;

}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box img:hover{
    transform: scale(1.1);
    transform: translateY(-40px);
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:2.5rem;
}
.portfolio-container .portfolio-box
{
    position: relative;
    border-radius:2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;

}
.portfolio-box .portfolio-layer{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(250, 62, 65,.1),white);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem ;
    transform: translateX(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateX(0);
    box-shadow: 0 0 1rem var(--main-color);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: white;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;

}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact-section h2{
    margin-bottom: 3rem;
}
.contact-section form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-section form .in_data-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: .2rem solid var(--bg-color);
   
}
.contact-section form .in_data-box ::placeholder{
    color: white;
}



.contact-section form .in_data-box input,
.contact-section form textarea::placeholder{
    color: white;
}
.contact-section form .in_data-box input,
.contact-section form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    transition: .5s ease;
}

.contact-section form .in_data-box :hover{
    border-color: white;
    transform: scale(1.1);
}
.contact-section form .in_data-box input{
    width: 49%;
}

.contact-section form textarea{
    resize: none;
}

.contact-section form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-work p{
    font-size: 1.6rem;
    color: white;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    background: var(white);
    border-radius: .8rem;
    transition: .5s ease;

}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: white;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(white);
}
/* RULINGS */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding :10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }
    
    .portfolio-box{
       padding-bottom: 7rem;
    }

    .contact-section{
       min-height: auto;

    }
    .footer{
        padding: 2rem 3%;
    }

}

@media (max-width:768px){
    #menu-icon {
        display: block;
    }
    
    .navbar{
        position: absolute;
        top:100%;
        left:0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
        /* display: none; */
    }

    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0
    }

    .home {
        flex-direction: column;
    }
    
    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio-box h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }

}


@media (max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width:450px){
    html{
        font-size:50%;
    }

    .contact-section form .in_data-box input{
        width:100%;
    }
}

