{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
   
    <title>My Portfolio</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body > 
     <!--header design-->
     <header class="header">
        <a href="#" class="logo">MY Portfolio</a>
        <i class="bx bx-menu" id ="menu-icon"></i>
        <nav class="navbar">
            <a href="#home"class="active">Go-Home</a>
            <a href="#about-me" id="click-about">About-Me</a>
            <a href="#service">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Lets-Connect</a>

        </nav>
       
     </header>
     <section class="home" id="home">
        <div class="home-content">
            <h3>Hello,its </h3>
            <h1>Abhinav</h1>
            <h3>And I'm a <span class="multext"></span></h3>
            <p>Having 3year+ experience in Backend 
                and frontend technology with python</p>
            
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100010119313033"><i class='bx bxl-facebook-circle' ></i></a>
                <a href="https://www.linkedin.com/in/abhinav-dogra-22b44016a/"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-tiktok' ></i></a>
            </div>
            <a href="/static/resume/Work_resume_abhinav.docx" class="btn" download="Download Resume">Download Resume</a>
        </div>
  
        <!-- <div class="portfolio-pic"  >
            <img class="face" src="images/new_edit.png" alt="">
        </div> -->
        <div class="portfolio-pic"  >
            <img class="face" src="../static/images/Biceps2.jpeg" alt="">
            <!-- <img class="face" src="images/IMG-2474.PNG" alt=""> -->
        </div>
     </section>
     <!-- about section design -->
     <section class="about-me" id="about-me">
        <div class="about-img">
            <img src="/static/images/final2.png" alt="">
        </div>
        
        <div class="about-content" id="about-content">
            <h2 class="heading">About-me <span>Myself</span></h2>
            <h3>Full-Stack Developer</h3>
            <p>I am tech Enthusiast and now moving towards the cloud for enhancing my career in it , 
                as well as to learn cloud architecture.
               Therefore , My favorite cloud is Azure and Gcp for the reason of ease and speed.
            </p>
            <a href="#" class="btn">Read More</a>

        </div>
     </section>
     <section class="services" id="service">
        <h2 class="heading">My <span>Services</span></h2>

        <div class=service-container>
            <div class="service-box">
                <i class='bx bx-code-alt  bx-lg'></i>
                <h3>Full-Stack</h3>
                <p>In Full stack i do the coding for backend 
                   as well as frontend and merge them for 
                   complete application, Moreover i deploy them
                   on cloud hosting such as azure and aws as well gcp.
                </p>
                <a href="#" class="btn">Read more</a>
            </div>

            <div class="service-box">
                <i class='bx bx-cloud bx-lg'></i>
                <h3>Cloud Engineer</h3>
                <p>In cloud computing, we host appication with different infrastructure 
                    and platform as per the requirements,This willhelps you to grow your business
                    as well as to do less on-premisis management

                </p>
                <a href="#" class="btn">Read more</a>
            </div>

            <div class="service-box">
                <i class='bx bx-dumbbell bx-lg' ></i>
                <h3>Fitness-Expert</h3>
                <p>These are extra personal services provided by me to transform their
                    body as to achieve better shape and strength , as well as to live
                    high lifestyle life.
                </p>
                <a href="#" class="btn">Read more</a>
            </div>

            
        </div>
     </section>

     <section class="portfolio" id="portfolio">
        <h2 class="heading">Present-day <span>WORK</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="/static/images/pexels-cottonbro-studio-5483071.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Here i tried to create great website which is very responsive and easy going</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/pexels-josh-sorenson-1714208.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Virtualization</h4>
                    <p>The most important and fundamental thing to handle the actual cloud setup as well as the work load on actual server</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/pexels-soumil-kumar-735911.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Languages</h4>
                    <p>Languages that you have hands on
                        <br>
                        1. Python
                        2. Teraform
                        3. Go

                    </p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/pexels-victor-freitas-841130.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Fitness-Expert</h4>
                    <p>Its important to build mind but having muscle is plus for your overall development 
                        so i am working as online fitness trainer as well for cooperative folks.
                    
                    </p>
                    <a href="#">First diet plan free <i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/certificate_certification_by_svetazi_gettyimages-655331082_2400x1600-100788475-large.webp" alt="">
                <div class="portfolio-layer">
                    <h4>My Certifications</h4>
                    <p>Certification you should do from base to advance</p>
                    <a href="https://www.hackerrank.com/certificates/aaaa3efac073">Python hackerrank(Basic)<i class='bx bx-link-external'></i></a>
                    <a href="https://www.hackerrank.com/certificates/f6579c8bc3de">Problem Solving<i class='bx bx-link-external'></i></a>
                    <a href="https://learn.microsoft.com/en-us/certifications/exams/az-900/">Cloud Azure L1<i class='bx bx-link-external'></i></a>
                    <a href="https://learn.microsoft.com/en-us/certifications/">Cloud Azure advance<i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/Cloud-platforms.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Cloud-Computing</h4>
                    <p>The world work on this from Gov. to startup all need clouds so deep dive into this.</p>
                    <a href="https://azure.microsoft.com/en-ca/resources/cloud-computing-dictionary/what-is-cloud-computing">Azure world<i class='bx bx-link-external'></i></a>
                </div>
            </div>
        </div>
     </section>
     
     <!-- contact section to connect with queries -->
     <section class="contact-section" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#" class="data-form" method="post" onsubmit="myFunction()">{% csrf_token %}
            <div class="in_data-box">
                 <input type="text" placeholder="Full Name" name="Full_name"> 
                 <input type="email" placeholder="Email Address" name="email"> 
            </div>
            <div class="in_data-box">
                <input type="number" placeholder="Mobile Number" name="mobile_number">
                <input type="text" placeholder="Email Subject" name="email_subject">
            </div> 
            <textarea placeholder="Enter Message" id="" cols="25" rows="10"  name="descsription"></textarea>
            <input type="submit"  value="Send it woo" onsubmit="alert('data submitted thanks')"  class="btn">
        </form>
     </section>
     <footer class="footer">
        <div class="footer-work">
            <p>Copyright &copy; 2023 by Abhinav code | All rights Reserved</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
     </footer>


     <!-- <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
     <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     <script src="exponential.js"></script> -->
     <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
     <script src="https://unpkg.com/scrollreveal"></script>
    <script src="static/js/script.js"></script>
    <script>
        function myFunction() {
          alert("The form was submitted");
        }
        </script>
</body>
</html>